* {
  box-sizing: border-box;
}

#food-list li {
  display: flex;
  justify-content: space-between;
}

.collection .buttons-part {
  min-width: 100px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.collection .buttons-part span {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 100%;
}

.collection .buttons-part a {
  display: flex;
  align-items: center;
  color: teal;
}

.collection #price {
  padding: 0px 3px;
}

.buttons a {
  width: 100%;
}
