.cart-container{
    padding-left: 21%;
    padding-right:21%;
}

.collection-item{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
}

.product-name, .price, .quantity{
    padding: 3%;
    text-align: center;

}
.price{
    padding-top: 15%;
}


.delete{
    padding:3%;
    text-align: right;
    padding-top: 30%;
}
.sum-container{
    padding-left: 50%;
}
.error{
    color:red;
    display: none;
}